<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="org.apache.cordova.MetaioPlugin"
      version="0.1.0">
    <name>MetaioPlugin</name>
	<description>MetaioPlugin to calll the ARELView</description>
    <license>MIT</license>
	<keywords>phonegap,metaio, arel</keywords>


    <js-module src="www/MetaioView.js" name="Metaio">
        <clobbers target="metaio" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Metaio">
                <param name="android-package" value="org.apache.cordova.MetaioPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/MetaioCordovaPlugin.java" target-dir="src/org/apache/cordova/MetaioPlugin" /> 
        <source-file src="src/ArelViewActivity.java" target-dir="src/org/apache/cordova/MetaioPlugin" /> 
     </platform>          
</plugin>
